/*This is the header format to have the page in line*/
header {
    padding: 20px;
    text-align: left;
    background: #332F2E;
    color: white;
    font-size: 30px;
  }

  header h1 {
    padding: 20px 20px 20px 20px;
    display: inline-block;
    background: #1abc9c;
    font-size: 48px;
    text-align: left;
    color: #332F2E;
    padding-left: 10%;
}

h3 {
  justify-content: left;
  border-right: 3px solid;
  display: block;
  text-align: left;
  font-size: 200%;
  margin: 1% 2%;
}

header li {
  text-align: right;
  color: #1abc9c;
  font-size: 30px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  border: 1px none rgba(0, 0, 0, 0.473);
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
  color: #25265f;
  display: inline-block;
  margin-left: 25px;
}

body {
  background-color: rgba(178, 208, 248, 0.137);
}

/*This section allows for the top image of the page to be displayed like a banner*/
.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 40px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  /*The filter allows the image to take on a hue over the normal image.*/
  filter: sepia(300%) hue-rotate(150deg) saturate(450%);
  linear-gradient:(0deg, rgba(0, 41, 63, 0.5), rgba(0, 123, 195, 0.5));
}
/*CSS for banner image*/

/*This section is for the Work portion of the page.*/
.container{
  display: flex;
  flex-wrap: wrap;
}

.flexitem{


}

.flexitem img{
  width: 300px;
}
/*CSS for Work Section Above*/

/*CSS for About Me with stylization.*/
.aboutme {
  border: 1px none rgba(0, 0, 0, 0.473);
  display: flex;
  padding: 15px 150px;
}

.myself {
  border: 5px dashed #25265f;
  border-style: none solid none none;
  width: 25%;
  padding: 20px;
}

.myself h2 {
  font-size: 100px;
  border: 1px none rgba(0, 0, 0, 0.473);
  text-align: right;
  color: #25265f;
}

.meabout {
  border: 1px none rgba(0, 0, 0, 0.473);
  width: 75%;
  display: flex;
  padding: 20px;
  color: #25265f;
  font-size: large;
}

/*CSS for About Me^*/

/* Below is the css for the work section of the code.*/

.work {
  border: 1px none rgba(0, 0, 0, 0.473);
  display: flex;
  padding: 15px 150px;
}

.workinfo {
  border: 5px dashed #25265f;
  border-style: none solid none none;
  width: 25%;
  padding: 20px;
}

.workinfo h2 {
  border: 1px none rgba(0, 0, 0, 0.473);
  font-size: 100px;
  text-align: right;
  color: #25265f;
}

.projects {
  border: 1px none rgba(0, 0, 0, 0.473);
  width: 75%;
  display: flex;
  padding: 20px;
  padding-top: 100px;
}

.projects a {
  border: 1px none rgba(0, 0, 0, 0.473);
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
  color: #25265f;
}
/* CSS for Work Portion of the code ^*/

/*This below set of code allows for the Contact section of the page to function with its stylization.*/
.contactme {
  border: 1px none rgba(0, 0, 0, 0.473);
  display: flex;
  padding: 15px 150px;
}

.contacts {
  border: 5px dashed #25265f;
  border-style: none solid none none;
  width: 25%;
  padding: 20px;
}

.contacts h2 {
  border: 1px none rgba(0, 0, 0, 0.473);
  font-size: 100px;
  text-align: right;
  color: #25265f;
}

.comms {
  border: 1px none rgba(0, 0, 0, 0.473);
  width: 75%;
  display: flex;
  padding: 20px;
  padding-top: 100px;
}

.comms a {
  border: 1px none rgba(0, 0, 0, 0.473);
  flex-grow: 1;
  text-align: center;
  font-size: 30px;
  color: #25265f;
}
/*Contact Section CSS Above*/

/*This allows the screen to move the items within the web page and format it to smaller screens ^*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}