/*This is the header format to have the page in line*/
main {
    display: flex;    
  }
  
  header {
    background-color: hsl(0, 1%, 19%);
    padding: 20px 10px 10px 0px;
    color: rgb(8, 8, 7);
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .main-header {
      font-size: 30px;
      font-weight:600;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:turquoise;
    padding: 10px 10px 20px 40px;
    outline: inset;
  }
  
  .topnav {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
  }
  
  .topnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: underline;
    font-size: 25px;
    color: turquoise;
    display: flex;
    flex-direction: column-reverse;
  
    }

    /*This section allows for the top image of the page to be displayed like a banner*/
  .hero-image {
      height: 200px;
      max-width: 100%;
      position: relative;
      background-image:url("../images/02-hero-bg.jpg");
      background-size: cover;
        /*The filter allows the image to take on a hue over the normal image.*/
      filter: sepia(300%) hue-rotate(150deg) saturate(450%);
    }
  
  
   #subtitle {
  background-color: rgba(0,0,0,0.8);
  color: aliceblue;
  font-size: 50px;
  position: absolute;
  bottom: 0px;
  right: 60px;
  
      
      
   }
  
   /*This section is for the Work portion of the page.*/
  .sections {  
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .sections h2 {
    width: 20%;
  }
  
  .sections p, .sections section {
    width: 70%;
  }
  
  h2 {
    font-family: monospace;
    margin-right: 30px;
    color: blue;
    font-size: 300%;
    display: flex;
    text-align: right;
    justify-content: end;
    border-right: 3px solid #445877;
    width: 20%;
    
  }
  
  h3 {
    margin-right: 30px;
    font-size: x-large;
    display: flex;
    text-align: right;
    justify-content: flex-start;
  }
  
  .grid-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    margin-left: 19.3%;
  }
  
  #image-1 {
    width: 100%;
    background-image: url(../images/Hemisphere\ Supply\ Co.\ -\ Modern.png);
  }
  
  #image-2 {
    background-image: url(../images/Fox-head-transp.png);
  }
  
  
  #image-3 {
    background-image: url(../images/02-portfolio-2.jpg);
  }
  
  #image-4 {
    background-image: url(../images/02-portfolio-3.jpg);
  }
  
  #image-5 {
    background-image: url(../images/02-run-buddy.jpg);
  }
  
  .grid-item {
    background-color: lightblue;
    padding: 20px;
    color:blue;
    text-align: center;
    margin: 10px;
    filter: brightness(50%);
    width: 50%;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .grid-item:nth-of-type(1) {
    grid-column: 1 / span 2;
  }
  
  .text-on-picture {
    background-color: lightblue;
    width: 100px;
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-item:hover {
    filter: brightness(100%);
    
  }
  
  article {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /*This below set of code allows for the Contact section of the page to function with its stylization.*/

  .footerNav {
    margin: 30px ;
  
  }
  
  .footerNav ul{
    display: flex;
  justify-content: space-evenly;
  margin-left: 150%;
  
  
  }
  
  .footerNav ul li a{
    color:blue;
    margin: 20px; 
    text-decoration:underline;
    font-size: 1.3em;
    transition: 0.5s;
  
  }
  
  p{
    font-size: larger;
    font-weight: bold;
  
  }
  
  /*This allows the screen to move the items within the web page and format it to smaller screens ^*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}